<!DOCTYPE html>
<html>
  <head>
    <title>Tweet Debate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script type="text/babel" src="{{ url_for('static', filename='js/react-templates.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
  </head>
  <body>
    <div class="container" id="debate">
      <!-- <h1>Question</h1>
      <p><b>{{ current_question.question_text }}</b>  
        <span>{{ current_question.end_time }} PST</span>
      </p>
      <h1>Votes</h1>
      <p>{{ current_question.vote_count }}</p>
      <h1>State scores (current question)</h1>
      <ul>
        {% for state_score in current_question.state_scores %}
          <li>
            <b>abbreviation:</b> {{ state_score.state_abbreviation }}, 
            <b>college votes:</b> {{ state_score.college_votes }}, 
            <b>votes-r:</b> {{ state_score.party_score_votes[0] }},
            <b>sway-r:</b> {{ state_score.party_score_sway[0] }},
            <b>votes-d:</b> {{ state_score.party_score_votes[1] }},
            <b>sway-d:</b> {{ state_score.party_score_sway[1] }}
          </li>
        {% endfor %}
      </ul>
      <h1>State scores (historical)</h1>
      <ul>
        {% for state in states %}
          <li>
            <b>abbreviation:</b> {{ state.state_abbreviation }}, 
            <b>votes-r:</b> {{ state.party_score_votes[0] }},
            <b>votes-d:</b> {{ state.party_score_votes[1] }}
          </li>
        {% endfor %}
      <ul>-->
    </div>
  </body>
</html>